@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button,
input,
textarea {
  font-family: inherit;
}

.n-modal {
  width: 560px;
  max-width: 90vw;
}

.n-modal .n-card {
  width: 100%;
}
